<%= form_for(@cantante) do |f| %>
  <% if @cantante.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cantante.errors.count, "error") %> prohibited this cantante from being saved:</h2>

      <ul>
      <% @cantante.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :genero %><br>
    <%= f.text_field :genero %>
  </div>
  <div class="field">
    <%= f.label :pais %><br>
    <%= f.text_field :pais %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
