<p id="notice"><%= notice %></p>

<h1>Cantantes</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Genero</th>
      <th>Pais</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cantantes.each do |cantante| %>
      <tr>
        <td><%= cantante.nombre %></td>
        <td><%= cantante.genero %></td>
        <td><%= cantante.pais %></td>
        <td><%= link_to 'Show', cantante %></td>
        <td><%= link_to 'Edit', edit_cantante_path(cantante) %></td>
        <td><%= link_to 'Destroy', cantante, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cantante', new_cantante_path %>
