<p id="notice"><%= notice %></p>

<h1>Canciones</h1>

<table>
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Letra</th>
      <th>Genero</th>
      <th>Cantante</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cancions.each do |cancion| %>
      <tr>
        <td><%= cancion.titulo %></td>
        <td><%= cancion.letra %></td>
        <td><%= cancion.genero %></td>
        <td><%= cancion.cantante %></td>
        <td><%= link_to 'Show', cancion %></td>
        <td><%= link_to 'Edit', edit_cancion_path(cancion) %></td>
        <td><%= link_to 'Destroy', cancion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cancion', new_cancion_path %>
