<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @cancion.titulo %>
</p>

<p>
  <strong>Letra:</strong>
  <%= @cancion.letra %>
</p>

<p>
  <strong>Genero:</strong>
  <%= @cancion.genero %>
</p>

<p>
  <strong>Cantante:</strong>
  <%= @cancion.cantante.nombre %>
</p>

<%= link_to 'Edit', edit_cancion_path(@cancion) %> |
<%= link_to 'Back', cancions_path %>
